Repository MHKiT-Software/MHKiT-Python, pull requests merged in 2020-06, with the labels that each got.

#36 Edited Wave example Notebook
  examples/wave_example.ipynb
Labels: enhancement, wave module

#45 Feature power
  examples/power_example.ipynb
  mhkit/power/characteristics.py
  mhkit/power/quality.py
Labels: enhancement

#49 Feature power
  examples/data/2020224_181521_PowRaw.csv
  examples/power_example.ipynb
  examples/wave_example.ipynb
  mhkit/__init__.py
  mhkit/power/__init__.py
  mhkit/power/characteristics.py
  mhkit/power/quality.py
  mhkit/tests/test_power.py
  mhkit/tests/test_wave.py
  mhkit/wave/performance.py
Labels: enhancement, power module

#46 Feature loads
  examples/loads_example.ipynb
  mhkit/loads.py
  mhkit/tests/test_loads.py
  mhkit/tests/test_utils.py
  mhkit/utils.py
Labels: enhancement, loads module
