Repository MHKiT-Software/MHKiT-Python, pull requests merged in 2023-05, with the labels that each got.

#231 Transect comparison
  examples/ADCP_Delft3D_TRTS_example.ipynb
  examples/data/river/ADCP_transect/TRTS_transect_map.png
Labels: river module

#238 Fix skipping lines Bug #147
  mhkit/tests/tidal/test_io.py
  mhkit/tidal/io/noaa.py
Labels: bug, tidal module

#239 Request NDBC Station Metadata
  examples/PacWave_resource_characterization_example.ipynb
  examples/metocean_example.ipynb
  mhkit/tests/wave/io/test_ndbc.py
  mhkit/wave/io/ndbc.py
  requirements.txt
  setup.py
Labels: enhancement, wave module
