Repository MHKiT-Software/MHKiT-Python, pull requests merged in 2024-03, with the labels that each got.

#288 Lint Loads
  .github/workflows/pylint.yml
  mhkit/loads/__init__.py
  mhkit/loads/extreme.py
  mhkit/loads/extreme/__init__.py
  mhkit/loads/extreme/extremes.py
  mhkit/loads/extreme/mler.py
  mhkit/loads/extreme/peaks.py
  mhkit/loads/extreme/sample.py
  mhkit/loads/general.py
  mhkit/loads/graphics.py
  mhkit/tests/loads/test_loads.py
  mhkit/utils/type_handling.py
Labels: Clean Up

#289 Add capability to read ADCP dual profile configurations
  examples/data/dolfyn/dual_profile.ad2cp
  examples/data/dolfyn/test_data/BenchFile01.nc
  examples/data/dolfyn/test_data/BenchFile01_avg.nc
  examples/data/dolfyn/test_data/BenchFile01_rotate_beam2inst.nc
  examples/data/dolfyn/test_data/BenchFile01_rotate_earth2principal.nc
  examples/data/dolfyn/test_data/BenchFile01_rotate_inst2earth.nc
  examples/data/dolfyn/test_data/dual_profile.nc
  mhkit/dolfyn/io/base.py
  mhkit/dolfyn/io/nortek2.py
  mhkit/dolfyn/io/nortek2_lib.py
  mhkit/tests/dolfyn/test_read_adp.py
Labels: dolfyn module

#294 Allow RDI reader to skip junk headers
  examples/data/dolfyn/RDI_7f79_2.000
  examples/data/dolfyn/test_data/RDI_7f79_2.nc
  examples/data/dolfyn/test_data/RDI_withBT.dolfyn.log
  examples/data/dolfyn/test_data/RiverPro_test01.nc
  mhkit/dolfyn/io/rdi.py
  mhkit/tests/dolfyn/test_read_adp.py
Labels: bug, dolfyn module
