Repository MHKiT-Software/MHKiT-Python, pull requests merged in 2025-05, with the labels that each got.

#388 Sound Exposure Level
  examples/acoustics_example.ipynb
  mhkit/acoustics/__init__.py
  mhkit/acoustics/analysis.py
  mhkit/acoustics/graphics.py
  mhkit/acoustics/sel.py
  mhkit/acoustics/spl.py
  mhkit/tests/acoustics/test_analysis.py
  mhkit/tests/acoustics/test_metrics.py
Labels: enhancement, acoustics

#398 Lint hindcast
  .github/workflows/pylint.yml
  mhkit/wave/io/hindcast/__init__.py
  mhkit/wave/io/hindcast/hindcast.py
  mhkit/wave/io/hindcast/wind_toolkit.py
Labels: Clean Up

#395 Add WEC-Sim power performance example
  examples/data/wave/mcr_mhkit.mat
  examples/data/wave/mcr_mhkit_power.mat
  examples/data/wave/pacwave_cluster_32.csv
  examples/wecsim_power_performance_example.ipynb
  mhkit/tests/wave/io/test_wecsim.py
  mhkit/wave/io/wecsim.py
Labels: wave module
